@use '@carbon/colors' as *;

.tree {
  position: relative;
  height: 100%;

  svg {
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
  }

  .node {
    position: absolute;
    left: 0;
    height: 24px;
    color: $gray-50;
    border-radius: 12px;
    font-size: 10pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;

    .background {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: $gray-20;
      left: -100%;
    }

    &.selected {
      .background {
        background-color: $black-100;
      }
      color: $white-0;
    }

    &.dashed {
      border: 1px dashed $black-100;
      background-color: transparent;
      color: $black-100;

      .background {
        display: none;
      }
    }
    
    > .node {
      left: 180px;
    }

    ~ .node {
      top: 36px;
    }
  }

  .link {
    stroke: $gray-20;

    .dashed {
      stroke: $black-100;
      stroke-dasharray: 2 3;
    }
    
    .selected {
      stroke: $black-100;
    }
  }
}