@use '@carbon/colors' as *;

.tree {
  position: relative;
  height: 100%;

  svg {
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
  }

  .node {
    position: absolute;
    left: 0;
    height: 20px;
    background: $gray-20;
    // background: linear-gradient(-90deg, $gray-20 39%, $black-100 39%);
    color: $gray-40;
    border-radius: 12px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    white-space: nowrap;

    &.dashed {
      border: 1px dashed $black-100;
      background-color: transparent;
    }
    
    > .node {
      left: 180px;
    }

    ~ .node {
      top: 36px;
    }
  }

  .link {
    stroke: $gray-20;

    .dashed {
      stroke: $black-100;
      stroke-dasharray: 2 3;
      z-index: -1;
    }
  }
}