@use '@carbon/styles/scss/breakpoint' as *;
@use '@carbon/grid' as *;
@use '@carbon/type' as *;
@use '@carbon/colors' as *;
@use "@carbon/react/scss/theme" as *;
@use '../../styles/type.scss' as *;

.pane {
  background-color: $black-100;
  color: $white-0;
  display: flex;
  flex-direction: column;
  padding-top: 96px;

  @include breakpoint(md) {
    height: 100vh;
  }

  .grid {
    margin: auto;
    flex: 1;

    .graphics {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      @include breakpoint(md) {
        grid-column-start: 1;
      }

      @include breakpoint(lg) {
        grid-column-start: 2;
      }
    }

    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 6rem;
      padding-top: 96px;
      
      @include breakpoint(md) {
        padding-top: unset;
        padding-bottom: unset;
      }

      &__header {
        margin-bottom: 32px;
    
        @include breakpoint(lg) {
          margin-bottom: 48px;
        }
      }
    
      &__subhead {
        position: relative;
      }
    
      .action {
        margin-top: 32px;
        padding-left: 16px;
        width: 100%;
        max-width: 282px;
    
        @include breakpoint(lg) {
          margin-top: 48px;
        }

        label {
          flex: 1;
        }

        .icon {
          width: 20px;
          height: 20px;
          margin-left: 0;
          margin-right: 12px;
        }
      }
    }
  }

  footer {
    padding: 42px 0;
    background-color: var(--brand-green);
    color: $text-primary;
  }
}
