@use '@carbon/styles/scss/breakpoint' as *;
@use '@carbon/grid' as *;
@use '@carbon/type' as *;
@use '@carbon/colors' as *;
@use "@carbon/react/scss/theme" as *;
@use '../../styles/type.scss' as *;

.pane {
  background-color: $background-brand;
  color: $white-0;

  .content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    &__header {
      margin-bottom: 32px;
  
      @include breakpoint(lg) {
        margin-bottom: 48px;
      }
    }
  
    &__subhead {
      position: relative;
    }
  
    .action {
      color: $white-0;
      font-size: 16px;
      line-height: 24px;
      width: calc(50% + $grid-gutter / 2);
      min-width: 20rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      .icon {
        margin-right: 8px;
        width: 20px;
        height: 20px;
      }
      
      label {
        cursor: pointer;
        margin-right: .2rem;

        & + svg {
          transition: all 0.3s ease;
          opacity: 0;
        }
      }

      &:hover {
        label + svg {
          transform: translateX(1rem);
          opacity: 1;
        }
      }
  
      &:not(:first-of-type) {
        margin-top: 16px;
      }

      &:first-of-type {
        margin-top: 32px;
        @include breakpoint(lg) {
          margin-top: 48px;
        }
      }
    }
  }

  .graphicsWrapper {
    justify-content: center;
    align-items: center;
    overflow: hidden;

    display: none;
    @include breakpoint(md) {
      display: flex;
    }

    .graphics {
      transform: scale(0.6);
  
      @include breakpoint(lg) {
        transform: scale(0.8);
      }
      
      @include breakpoint(xlg) {
        transform: scale(1);
      }
    }
  }
}
