.animation {
  position: relative;

  @media screen and (max-width: 672px) {
    max-width: calc(95vw - 32px);
    margin-top: -16px;
  }
}

.animLayer {
  position: absolute;
  transition: 0.3s;
}

.animSlow {
  transition: 0.5s;
}

.floating {
  animation: floating 2s infinite ease-in-out;
}

.floating2 {
  animation: floating2 2s infinite ease-in-out;
}

.blinking {
  animation: blinking 2s infinite ease-in-out;
}

.fadeIn {
  animation: fadeIn 0.5s 1 forwards ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes floating {
  from {
    opacity: 1;
  }

  50% {
    transform: translateY(2px);
    opacity: 0.8;
  }

  to {
    opacity: 1;
  }
}
@keyframes floating2 {
  from {
    transform: translateY(-6px);
    opacity: 1;
  }

  50% {
    transform: translateY(6px);
    opacity: 0.8;
  }

  to {
    transform: translateY(-6px);
    opacity: 1;
  }
}

@keyframes blinking {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@keyframes sliding {
  from {
    height: 100%;
  }

  to {
    height: 0;
  }
}
