@use '@carbon/styles/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/type' as *;
@use '@carbon/grid' as *;

.slideshowWrapper {
  width: 100%;
  padding-top: 86px;
  padding-bottom: calc(50vh - 220px);
  padding-inline: calc(var(--cds-grid-margin) + $grid-gutter / 2);
  inline-size: 100%;
  margin-inline: auto;
  max-width: 1584px;

  .slideshow {
    position: sticky;
    top: calc(50vh - 320px);

    @include breakpoint(xlg) {
      padding: 0 calc((100% + $grid-gutter) / 16);
    }

    &__slides {
      flex: 1;
    }
  }

  .debugProgressBar {
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    height: 5px;
    background: red;
    transform-origin: 0%;
  }
}

.cardWrapper {
  justify-content: center;
  margin-bottom: 2rem;
  height: 480px;

  // sm + md
  gap: 0;
  display: inline-flex;
  width: 100%;

  @include breakpoint(lg) {
    gap: 2rem;
    display: flex;
  }
}

.stepWrapper {
  position: relative;
  padding: 3rem 2rem 2rem;
  flex: 0 0 7.5rem;
  overflow: hidden;
  max-height: 35.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  transition: 0.3s;

  &.column {
    flex-direction: column;
  }

  &:not(.active) {
    flex-direction: column;

    // sm + md
    flex: 0;
    padding: 0;
    border: none;

    @include breakpoint(lg) {
      background-color: var(--light-gray);
      border: 1px solid var(--light-gray);
      padding: 3rem 2rem 2rem;
      flex: 0 0 7.5rem;
    }

    .animWrapper {
      filter: saturate(0);
    }

    .description {
      display: none;
    }
  }

  .footer {
    position: absolute;
    bottom: 2rem;
    padding: 0 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    .order {
      @include type-style('heading-05');
      color: $text-primary;
      text-align: center;
      font-size: 34px;
      font-weight: 300;
    }

    .description {
      flex: 1;
      margin-left: 4rem;
      @include type-style('body-02');
      color: $text-primary;
      word-break: auto-phrase;
      padding-right: 1rem;
      margin-right: auto;
    }
  }

  .animWrapper {
    > div {
      margin: 0 auto;
    }
  }

  &.active {
    flex: 1;

    @include breakpoint(lg) {
      border: 1.5px solid $border-inverse;
    }

    .order {
      font-weight: 400;
      left: 2rem;
    }
    .description {
      opacity: 0;
      animation: fade-in 0.3s 1 forwards;
      animation-delay: 0.3s;
    }
  }
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
