@use '@carbon/styles/scss/breakpoint' as *;
@use '@carbon/grid' as *;

.pane {
  .grid {
    .column {
      position: relative;
      height: 100vh;
      min-height: 900px;

      .graphics {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 10%;
        min-width: calc(590px / 0.85);
        right: 0;
        transform: scale(0.85);
        transform-origin: right top;
        
        @include breakpoint(md) {
          transform: scale(1);
          min-width: 590px;
        }
      }

      .content {
        position: absolute;
        top: 70%;

        @mixin gridColumn($offset, $span) {
          left: calc((100% + $grid-gutter) / 4 * $offset);
          width: calc((100% + $grid-gutter) / 4 * $span - $grid-gutter);
          
          @include breakpoint(md) {
            left: calc((100% + $grid-gutter) / 8 * $offset);
            width: calc((100% + $grid-gutter) / 8 * $span - $grid-gutter);
          }
          @include breakpoint(lg) {
            left: calc((100% + $grid-gutter) / 16 * $offset);
            width: calc((100% + $grid-gutter) / 16 * $span - $grid-gutter);
          }
        }

        @include breakpoint(md) {
          top: 50%;
          @include gridColumn(4, 4);
        }

        @include breakpoint(lg) {
          @include gridColumn(9, 6);
        }

        @include breakpoint(xlg) {
          @include gridColumn(8, 5);
        }

        &__header {
          margin-bottom: 32px;
      
          @include breakpoint(lg) {
            margin-bottom: 48px;
          }
        }

        &__subhead {
          position: relative;
        }
      }
    }
  }
}
