@use '@carbon/colors' as *;

.term {
  
  :global(.Terminal-term) {
    height: 380px;
  }

  :global(.Terminal-header) {
    top: 0;
    background-color: $gray-100;
    height: 32px;
  }

  :global(.Terminal-window) {
    background-color: $gray-100;
    border: none;
    overflow: hidden;
    position: relative;
  }

  :global(.Terminal-console) {
    min-height: calc(100% - 60px);
    position: absolute;
    bottom: 60px;
    width: calc(100% - 32px);
  }

  :global(.Terminal-btn) {
    background-color: $gray-80;
  }

  :global(.Terminal-control-btn) {
    display: none;
  }
}
